# macOS
.DS_Store

# Cloudflare Wrangler
# ローカル開発用の設定とシークレットファイル
.wrangler/
.dev.vars

# Local Netlify folder
.netlify

# その他
# バックアップフォルダなど
bk/

# Ignore dictionary files
public/dict/

作業用.html

# Node.js
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
