node_modules
npm-debug.log
.git
.gitignore
.gitattributes
README.md
.env
.env.*
.vscode
.idea
.DS_Store
dist
.dockerignore
Dockerfile*
docker-compose*.yml
.eslintcache
*.log
coverage
.nyc_output
.github
.gitlab-ci.yml
.editorconfig