# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
env/

# データベースファイル (必要に応じて)
# もし .db ファイルをgitで管理したくない場合
# *.db

# Netlify (ローカル設定ファイル)
.netlify

# エディタ/IDE設定
.vscode/
